.footer {
  background: linear-gradient(
      84.81deg,
      rgba(72, 106, 111, 0.2) 0%,
      rgba(67, 151, 164, 0.2) 100%
    ),
    #486a6f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #f4f7ff;
  font-size: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.footer div > ul {
  list-style-type: none;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo {
  font-weight: 700;
  font-size: 24px;
}
.social {
  display: flex;
  gap: 0.4rem;
  width: 20px;
  height: 20px;
  padding-left: 3rem;
}
